.realifex
  = image_tag("realifex-icon-success.gif", alt: "Lock Icon", class: "page-icon")
  %h1 Success!
  %p.page-message You've successfully changed your Realifex account password.
  %a.realifex-button{:href => "rlfx://?open/ "} Open Realifex