!!!
%br

%p Hey there,
    
%p It seems that you've forgotten your Realifex password. If this is the case, please click the link below.
 
%p= link_to "Securely Reset Your Password", "https://api.realifex.com/password_resets/#{@user.password_reset_token}/edit"

%p
  If you didn't ask to reset your password, please #{mail_to("admin@realifex.com", "contact us")}.
