<h2>Keys</h2>

{{total_notes}} <br>
{{avg_notes}} <br>
{{steps_latest_note}} <br>
{{temperature_latest_note}} <br>
{{sleep_time_latest_note}} <br>
{{feeling_score_latest_note}} <br>
{{impact_score_latest_note}} <br>
{{wbs_latest_note}} <br>
{{avg_steps}} <br>
{{avg_temperature}} <br>
{{avg_sleep_time}} <br>
{{avg_feeling_score}} <br>
{{avg_impact_score}} <br>
{{avg_wbs}} <br>
{{suburb_latest_note}} <br>
{{category_latest_note}} <br>
{{weather_latest_note}} <br>
{{date_latest_note}} <br>
{{topics_latest_note}} <br>
{{goal_latest_note}}